includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    paths:
        - src/

    level: 5

    ignoreErrors:
        - identifier: method.notFound
          message: '#Call to an undefined method Statamic\\Contracts\\Entries\\QueryBuilder::where\(\)#'
          path: src/Fieldtypes/ImageCropper.php
        - identifier: property.defaultValue
          message: '#Property IBelieve\\StatamicImageCropper\\ServiceProvider::\$vite#'
          path: src/ServiceProvider.php
